.app {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  margin: 0;
  text-align: center;
  margin-bottom: 2rem;
  background-color: rgb(14, 77, 119);
  color: white;
  padding: 2rem;
}

.todo-form-section {
  display: flex;
  justify-content:space-between;
  align-items: flex-end;
  max-width: 800px;
  margin: 0 auto;
}

.todo-form-section header {
  text-align: center;
}

.form-todo {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  border: 1px black;
}

.btn {
  background-color: rgb(35, 165, 182);
  border: none;
  color: white;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1rem;
}

input[type=text] {
  padding: 12px 20px;
  margin: 0 1rem;
  box-sizing: border-box;
}

.todo-list {
  max-width: 800px;
  margin: 5rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.todo {
  background-color: rgb(36, 129, 129);
  border: none;
  color: white;
  padding: 1rem;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 1rem;
  max-width: 35%;
  overflow-wrap: break-word;
  cursor: default;
  transition-duration: 0.3s;
}

.todo:hover {
  background-color: rgb(40, 160, 160);
  transition-duration: 0.3s;
}

.completed {
  color: white;
  text-decoration: line-through;
  background-color: rgb(66, 66, 66);
}

.completed:hover {
  transition-duration: 0s;
}

.tag {
  background-color: rgb(54, 54, 54);
  color: white;
  border: 0;
  border-radius: 0.5rem;
  padding: 0.4rem;
  margin: 0.1rem;
  font-size: 0.7rem;
}